@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        width: 360px;
        height: 600px;
    }

    body {
        @apply font-sans text-white;
        background: #222a39;
    }

    button {
        @apply px-4 py-2 bg-indigo-500 rounded-lg hover:bg-indigo-600 active:scale-95;
    }

    input {
        @apply p-2 text-slate-950 bg-gray-100 rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-500;
    }

    h1 {
        @apply text-lg font-semibold mb-3 border-b-[1px] border-gray-700;
    }

    h2 {
        @apply border-b-[1px] border-gray-700 text-lg font-bold 
    }

    .card {
        @apply bg-gray-900 p-3 rounded-md border-[1px] border-gray-700;
    }

    ::-webkit-scrollbar {
        display: none;
        -ms-overflow-style: none;  
        scrollbar-width: none; 
    }
}