@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        width: 360px;
        height: 600px;
    }

    body {
        @apply font-sans text-white;
        background: #222a39;
    }

    button {
        @apply rounded-lg bg-indigo-500 px-4 py-2 hover:bg-indigo-600 active:scale-95;
    }

    select,
    input {
        @apply rounded-md bg-gray-100 p-2 text-slate-950 focus:outline-none focus:ring-2 focus:ring-indigo-500;
    }

    h1 {
        @apply mb-3 border-b-[1px] border-gray-700 text-lg font-semibold;
    }

    h2 {
        @apply border-b-[1px] border-gray-700 text-lg font-bold;
    }

    .card {
        @apply rounded-md border-[1px] border-gray-700 bg-gray-900 p-3;
    }

    ::-webkit-scrollbar {
        display: none;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}
