@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        width: 350px;
        height: 450px;
    }

    body {
        @apply font-sans text-white;
        background: linear-gradient(to bottom, #283142, #0f1b24);
    }

    button {
        @apply px-4 py-2 bg-indigo-500 text-white rounded-lg hover:bg-indigo-600 active:scale-95;
    }

    input {
        @apply px-2 py-2 rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-500;
    }

    h1 {
        @apply text-white text-lg font-semibold mb-3 border-b-2 border-gray-600;
    }
}