@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        width: 350px;
        height: 450px;
    }

    body {
        background: linear-gradient(to bottom, #283142, #0f1b24);
    }
}